<nav class="container p-3 d-flex justify-content-between">
  <h1 class="text-light">Logo</h1>
  <ul class="d-flex gap-5 align-items-center text-md-start">
    <li><a href="/">Home</a></li>
    <li><a href="/signin">Sign In</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/signout">Sign Out</a></li>
  </ul>
</nav>

