<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs")%>

<div class="container w-50 mt-5 p-5 bg-dark text-center text-light">
  <h1 class="text-dark-50 p-1">Homepage</h1>
  <a class="btn btn-outline-primary mt-2" href="/signin">sign in</a>
  <a class="btn btn-outline-primary mt-2" href="/signup">sign up</a>
</div>

<%- include("partials/footer.ejs")%>
