<%- include("partials/header")%>
<%- include("partials/nav")%>

<div class="container w-50 h-40 bg-dark p-5 text-center mt-5">
    <h3 class="text-light">Are you sure you want to logout?</h3>
    <button class="btn btn-primary">YES</button>   <button class="btn btn-primary">NO</button>
    <p class="mt-3 text-light"> want to SignIn/SignUp? <a class="p-1" href="/signup">SignUp</a> <span class="text-light">|</span>  <a class="p-1" href="/signin">SignIn</a> </p>

</div>

<%- include("partials/footer")%>